.searchContainer input {
  padding: 14px;
  font-size: 16px;
  border: 0px;
  border-radius: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #999;
}

.button {
  padding: 14px;
  font-size: 16px;
  background-color: #24292e;
  color: aliceblue;
  border: 0px;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  box-shadow: 2px 2px 4px #999;
}