body {
  display: flex;
  background-color: lightgray;
  justify-content: center;
}

.container {
  display: flex;
  margin-top: 15px;
  background-color: #24292e;
  width: 1024px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #888888;
  padding: 20px;
}
