body {
  /* display: flex; */
  background-color: lightgray;
  justify-content: center;
}

.app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}

.container {
  display: flex;
  flex: 1;
  background-color: #24292e;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 5px 5px 8px #888888;
  padding: 20px;

  min-height: 450px;
  /* margin: 20px; */
}
